header{
    &.wide {
      display: none;
      @include mq(header){
        display: block;
        background: white;
        text-align: center;
        top: 0;
        position: fixed;
        width: 100%;
        height: 80px;
        overflow: hidden;
        padding: 0.8rem 1.0875rem 0.8rem;
        border-radius: 0% 0% $border-radius $border-radius;
        z-index: 20;
        -webkit-backdrop-filter: blur(4px);
        -moz-backdrop-filter: blur(4px);
        -ms-backdrop-filter: blur(4px);
        -o-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        box-shadow: $ms-depth-shadow-16;
      }
    }
    &.compact {
      display: block;
      top: 0;
      position: fixed;
      overflow: hidden;
      z-index: 20;
      right: 0px;
      text-align: right;
      height: 60px;
      width: 60px;
      @include mq(header){
       display: none; 
      }
    }
    &.blog{
      &.wide{
        display: none;
        @include mq(blog-header){
          display: block;
          background: white;
          text-align: center;
          top: 0;
          padding: 0px;
          width: 100%;
          height: 80px;
          overflow: hidden;
          border-radius: 0% 0% $border-radius $border-radius;
          z-index: 20;
          -webkit-backdrop-filter: blur(4px);
          -moz-backdrop-filter: blur(4px);
          -ms-backdrop-filter: blur(4px);
          -o-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
          box-shadow: $ms-depth-shadow-16;
        }
      }
      &.compact{
        display: block;
        height: 80px;
        top: 0;
        overflow: hidden;
        z-index: 20;
        right: 0px;
        text-align: right;
        width: 100%;
        border-radius: 0% 0% $border-radius $border-radius;
        box-shadow: $ms-depth-shadow-16;
        padding: 0px;
        @include mq(blog-header){
          display: none;
        }
      }
    }
  }